.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px; // Adjust the size as needed
}
  
.modal-header {
    font-size: 1.5rem;
    margin-bottom: 20px;
}
  
.modal-line {
    margin-bottom: 20px;
}
  
.modal-yes,
.modal-cancel {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
.modal-yes {
    background-color: $blue;
    color: white;
}
  
.modal-cancel {
    background-color: #f0f0f0;
    color: #333;
}
  
// Additional styles for overlay if needed
.ReactModal__Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
  