html{
    font-size: 62.5%;
}

body{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 2rem;
}

header h1{
    font-weight: 900;
}

h3{
    display: inline-block;
}

.navbar{
    font-weight:bold;
    text-decoration: none;
}


#navbars a.active{
    color: rgb(56, 209, 207);
}

#navbars a.inactive{
    color: rgb(0, 0, 0);
    font-weight: bolder;
}

input::placeholder, textarea::placeholder {
    /* Your CSS styles for the placeholder text */
    color: #999; /* for example */
    font-style: italic; /* for example */
}